navbar
{
    position: absolute;
}

h1
{
text-align: center;
}

p
{
    font-size:20px;
}

li
{
    font-size: 20px;
}


.intro {
    position: relative;
    overflow: hidden;
    padding: 50px 0px;
    color: #fff;
}

.intro-video
{
    position: absolute;
    min-width: 100%;
    min-height: 100%;    
}


 
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
}
 

.name p {
    text-align:left;
    color:#fff;
    font-size: 4vw;
    margin-top:10%;
}

.small {
    text-align:left;
    color:#fff;
    font-size: 3vw !important;
    margin-top: 0px !important;
}

/*content*/


#content
{
    padding-top: 3%;
}

#tasks
{
    margin-top: 3%;
}


/*partners*/

#partners
{
    padding-top: 3%;
}

.partners h3
{
    text-align: left;
}

.logo 
{
    display:flex;
    align-items: center;
    justify-content: center;
}

#volga
{
    margin-top: 70px;
}

/*documents*/

#docs
{
    padding-top:3%;
    padding-bottom: 3%;
}

/*footer*/
#footer
{
    background-color:#353536;
    color: white;
    text-align: left;
}

#footer a
{
    color: #fff!important;
}

#footer p
{
    font-size: 16px;
    
}

.contacts
{
    margin-left: 15px;
}
